
<h1></h1>
{{pageTitle | reverse}}

value: {{listFilter }}

<nav>
  <div>
    <form>
      <div class="input-field">

        <input id="search" [(ngModel)]='listFilter' name="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
<table class='table-responsive centered striped' *ngIf='products && products.length'>
  <thead>
    <tr>
      <td><button (click)="toggleImage()"> {{showImage ? "Hide" : "Show"}} Images</button></td>
      <td>Product</td>
      <td>Code</td>
      <td>Avaiable</td>
      <td>Price</td>
      <td>5 Star Rating</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products'>
      <td><img width="50px" height="50px" style="" *ngIf="showImage" src="{{product.imageUrl}}" alt=""></td>
      <td>{{product.productName}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.releaseDate}}</td>
      <td>{{product.price}}</td>
      <td>{{product.starRating}}</td>
  </tr>
  </tbody>
</table>

<!--
<pre>{{products | json}}</pre> -->
